@font-face {
    font-family: 'Mustasurma';
    src: url('fonts/Mustasurma.ttf') format('truetype');
}

@font-face {
    font-family: 'PIG';
    src: url('fonts/PIG.TTF') format('truetype');
}

@font-face {
    font-family: 'PunkKid';
    src: url('fonts/punk kid.ttf') format('truetype');
}

@font-face {
    font-family: 'Punktype';
    src: url('fonts/Punktype.ttf') format('truetype');
}

@font-face {
    font-family: 'AcrossTheLines';
    src: url('fonts/across the lines.ttf') format('truetype');
}

@font-face {
    font-family: 'Anarchaos';
    src: url('fonts/Anarchaos1.otf') format('opentype');
}

@font-face {
    font-family: 'HitMePunk';
    src: url('fonts/Hit me, punk! 01.ttf') format('truetype');
}

@font-face {
    font-family: 'ElectroInsanity';
    src: url('fonts/Electro Insanity.ttf') format('truetype');
}

@font-face {
    font-family: 'SantaCarla';
    src: url('fonts/santacarla.ttf') format('truetype');
}
.instagram-embed {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 800px;
    width: 800px;
}

#next-concerts, #next-events {
    list-style: none;
    padding: 0;
    margin: 0;
}

#next-concerts li, #next-events li {
    padding: 10px;
    margin-bottom: 5px;
    background: rgba(51, 51, 51, 0.5);
    border: 1px solid #ddd;
    color: #fff;
}

body {
    font-family: 'Anarchaos';
    font-size: xx-large;
    margin: 0;
    padding: 0;
    background: url('pics/wall1.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    text-shadow: 
    1px 1px 0 black, 
    -1px -1px 0 black, 
    1px -1px 0 black, 
    -1px 1px 0 black, 
    1px 0 0 black, 
    -1px 0 0 black, 
    0 1px 0 black, 
    0 -1px 0 black;
}

header {
    background: rgba(51, 51, 51, 0.5);
    text-align: center;
    padding: 1rem 0;
}
nav ul li a.active {
    text-decoration: underline;
}
.container {
    display: flex;
    justify-content: center; /* Horizontally centers the image */
    align-items: center; /* Vertically centers the image */
    width: 100%; /* Ensures the container takes full width */
    position: fixed;
    z-index: -1;
    top: 35%;
    opacity: 50.5%;
}

.image {
    max-width: 30%;
    height: auto;
}

header img.logo {
    max-width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}
.clickable {
    cursor: pointer;
    color: inherit; /* Inherit the color from the parent */
    text-decoration: underline;
}

.clickable:hover {
    color: inherit; /* Keep the color on hover */
    text-decoration: underline;
}
a {
    color: #1e90ff; /* Initial link color (e.g., DodgerBlue) */
    text-decoration: none;
}

a:hover {
    color: rgba(0, 94, 94, 1);
    text-decoration: underline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2.5rem;
}

main {
    padding: 20px;
    background: #00000054;
}

.section {
    display: none;
    text-align: center;
    max-width: 80vw;
    left: 8%;
    position: relative;
}

.section.active {
    display: block;
}

footer {
    background: rgba(51, 51, 51, 0.5);
    color: #fff;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 50px;
    padding-bottom: 1px;
}

#calendar-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background: rgba(0, 94, 94, 0.8);

}

#calendar-controls button {
    background: rgba(0, 94, 94, 0.8);
    background: none;
    border: none;
    color: white;
    font-size: 3.5rem;
    cursor: pointer;
    padding: 2%;
}

#calendar-controls button:hover {
    color: lightgray;
}


#calendar {
    background: rgba(0, 94, 94, 0.8);
    color: #000;
    padding: 20px;
    overflow-x: auto;
    text-shadow: none;
}

#calendar table {
    width: 100%;
    border-collapse: collapse;
}

#calendar th, #calendar td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#calendar th {
    background-color: #333;
    color: white;
}

#calendar td {
    height: 40px;
    vertical-align: middle;
}

.queerkneipe {
    font-family: 'SantaCarla';
    text-shadow: 
    1px 1px 0 white, 
    -1px -1px 0 white, 
    1px -1px 0 white, 
    -1px 1px 0 white, 
    1px 0 0 white, 
    -1px 0 0 white, 
    0 1px 0 white, 
    0 -1px 0 white;
    background: linear-gradient(to right, #FF0000, #FF8C00, #FFFF00, #008000, #0000FF, #8B00FF);
}

.das-labor {
    font-family: 'ElectroInsanity';
    background: rgb(202, 170, 238);
    text-shadow: 
        1px 1px 0 black, 
        -1px -1px 0 black, 
        1px -1px 0 black, 
        -1px 1px 0 black, 
        1px 0 0 black, 
        -1px 0 0 black, 
        0 1px 0 black, 
        0 -1px 0 black;
    color: #fff;
}

.mixed-music {
    background: lightcoral;
}

.punkkneipe {
    font-family: 'PunkKid';
    color: white;
    background: linear-gradient(to right, red, black);
    text-shadow: 2px 2px 4px rgba(140, 137, 137, 0.7); /* Adding text shadow */
}

.event-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto; /* Center horizontally */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%; /* 80% of the viewport width */
    cursor: pointer;
    background: #7fffd442;
}

.event-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
}

.event-info {
    flex-grow: 1;
}

.event-date, .event-name, .event-description {
    margin: 0;
    padding: 2px 0;
}

.event-name {
    font-size: 1.2em;
    font-weight: bold;
}

/* Pop-up styles */
.image-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.popup-img {
    max-width: 80%;
    max-height: 80%;
    z-index: 1001;
}


.kneipe {
    background: lightpink;
    font-family: 'HitMePunk';
}

.break {
    background: rgb(19, 71, 5);
}
.event {
    background: rgb(215, 150, 10);
}
.concert {
    background: rgb(89, 7, 243);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
.NONAZIS {
    font-family: "Vibur", sans-serif;
    text-align: center;
    top: 0%;
    right: 60%;
    position: absolute;
    font-size: 2.3em;
  }
.neon-sign {
    font-family: "Vibur", sans-serif;
    text-align: center;
    top: 0%;
    right: 5%;
    position: absolute;
    font-size: 2.3em;
  }

.neon-sign .we-are {
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #ff00ff,
        0 0 30px #ff00ff,
        0 0 40px #ff00ff,
        0 0 50px #ff00ff,
        0 0 60px #ff00ff;
    animation: pulsate 0.11s ease-in-out infinite alternate;     
}
#past-concerts-container,
#past-events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
@keyframes flicker1 {
    0%, 18%, 22%, 25%, 53%, 57%, 100% {
        text-shadow:
            0 0 5px #fff,
            0 0 10px #fff,
            0 0 20px #ff00ff,
            0 0 30px #ff00ff,
            0 0 40px #ff00ff,
            0 0 50px #ff00ff,
            0 0 60px #ff00ff;
        opacity: 1;
    }
    20%, 24%, 55% {
        text-shadow: none;
        opacity: 0.6;
    }
}

@keyframes pulsate {
    0% {
        text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #fff,
            0 0 38px #f09,
            0 0 73px #f09,
            0 0 80px #f09,
            0 0 94px #f09,
            0 0 140px #f09;
    }
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #f09,
            0 0 80px #f09,
            0 0 90px #f09,
            0 0 100px #f09,
            0 0 150px #f09;
    }
}

.neon-sign .open {
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #8a0898,
        0 0 30px #8a0898,
        0 0 40px #8a0898,
        0 0 50px #8a0898,
        0 0 60px #8a0898;
    animation: flicker2 3s infinite alternate, pulsate2 2s infinite alternate;
}

@keyframes flicker2 {
    0%, 19%, 21%, 23%, 25%, 50%, 52%, 57%, 100% {
        text-shadow:
            0 0 5px #ffffff,
            0 0 10px #ffffff,
            0 0 20px #8a0898,
            0 0 30px #8a0898,
            0 0 40px #8a0898,
            0 0 50px #8a0898,
            0 0 60px #8a0898;
        opacity: 1;
    }
    20%, 22%, 24%, 51%, 53%, 56% {
        text-shadow: none;
        opacity: 0.7;
    }
}

@keyframes pulsate2 {
    0% {
        text-shadow:
            0 0 4px #fff,
            0 0 10px #fff,
            0 0 18px #8a0898,
            0 0 38px #8a0898,
            0 0 73px #8a0898,
            0 0 80px #8a0898,
            0 0 94px #8a0898,
            0 0 140px #8a0898;
    }
    100% {
        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #8a0898,
            0 0 40px #8a0898,
            0 0 80px #8a0898,
            0 0 90px #8a0898,
            0 0 100px #8a0898,
            0 0 150px #8a0898;
    }
}

.neon-sign .break-name {
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #00ff00,
        0 0 30px #00ff00,
        0 0 40px #00ff00,
        0 0 50px #00ff00,
        0 0 60px #00ff00;
    display: none;
}

@media only screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        margin: 10px 0;
    }
    .image {
        max-width: 100%;
        height: auto;
      }
      body {
        font-family: 'Anarchaos';
        font-size: x-large;
     }
     nav ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 1.8rem;
      }
      .instagram-embed {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        max-height: 438px;
        margin: 0 auto;
      }
      .neon-sign {
        font-family: "Vibur", sans-serif;
        text-align: center;
        position: relative;
        font-size: 2.3em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 0;
        right: 0;
      }

        .NONAZIS {
          top: 21%;
          right: 75%;
          width: 85px;
        }
      
}

@media only screen and (max-width: 1440px){
      .neon-sign {
        font-family: "Vibur", sans-serif;
        text-align: center;
        position: relative;
        font-size: 2.1em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 0;
        right: 0;
      }
}