/* (A) GLOBAL */
:root {
  --color-bg-sidebar: #28303999;
  --color-bg-user: #043368;
  --color-username: #ff6a6a;
  --color-sidebar-item-current: #7c1919;
  --color-sidebar-item-hover: #9b2323;
  --color-sidebar-text: #fff;
  --color-main-bg: #f2f2f2;
  --color-main-dark-bg: #6f7d8d;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  padding: 0; margin: 0;

}
body::before {
  content: "";
  background-image: url("/static/background 2.png");
  background-size: cover;     /* Ensures the image covers the whole screen */
  background-position: center; /* Centers the image */
  background-attachment: fixed; /* Keeps the image fixed when scrolling */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  position: fixed;             /* Fixes the image in place */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Places it behind the content */
}
/* (B) SIDEBAR */
/* (B1) SIDEBAR ITSELF */
#pgside {
  width: 230px;
  transition: width 0.2s;
  background: var(--color-bg-sidebar);
}

/* (B2) USER OR BRANDING */
#pgside #pguser {
  display: flex;
  align-items: center;
  padding: 10px;
  background: var(--color-bg-user);
  cursor: pointer;
}
#pgside #pguserimg {
  border-radius: 50%;
  width: 50px;
  margin-right: 10px;
}
#pgside #pgusername {
  color: var(--color-username);
  font-weight: 700;
  text-transform: uppercase;
  word-break: break-all;
}
#pgside #pguseracct { font-size: 13px; }

/* (B3) SIDEBAR ITEMS */
#pgside, #pgside a { color: var(--color-sidebar-text); }
#pgside a {
  display: block;
  padding: 20px;
  width: 100%;
  text-decoration: none;
  cursor: pointer;
}
#pgside a.current { background: var(--color-sidebar-item-current); }
#pgside a:hover { background: var(--color-sidebar-item-hover); }

/* (B4) SIDEBAR ICONS & TEXT */
#pgside .ico, #pgside .txt { font-style: normal; }
#pgside .ico {
  font-size: 1.1em;
  margin-right: 10px;
}

/* (B5) SMALL SCREEN TRANSFORMATION */
@media screen and (max-width:768px) {
  #pgside { width: 70px; }
  #pgside #pguser { justify-content: center; }
  #pgside a {
    text-align: center;
    padding: 20px 0;
  }
  #pgside .ico {
    font-size: 1.5em;
    margin-right: 0;
  }
  #pgside .txt { display: none; }
  #pgside #pguserimg { margin-right: 0; }
}

/* (C) MAIN CONTENTS */
#pgmain {
  flex-grow: 1;
  padding: 20px;
}
h1, h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #000000;
  text-shadow: 
  0 0 5px rgb(236, 221, 191), 
  0 0 10px rgb(236, 221, 191), 
  0 0 15px rgb(236, 221, 191), 
  0 0 20px rgb(236, 221, 191);
}