<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
    <link rel="stylesheet" href="static/css/3-login.css">
    <script src="static/js/3-login.js"></script>
  </head>
  <body>
    <form method="post" action="{{ url_for('login.lin') }}" id="login">
      <label>Email</label>
      <input type="email" name="email" required value="joy@doe.com">
      <label>Password</label>
      <input type="password" name="password" required value="12345">
      <input type="submit" value="Login">
    </form>
  </body>
</html>