<!DOCTYPE html>
<html>
  <head>
    <title>Admin Login</title>
    <meta charset="utf-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.5">
    <link rel="stylesheet" href="static/3-login.css">
    <script src="static/3-login.js"></script>
  </head>
  <body>
    <form method="POST" action="/in">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br>
      
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br>
      
      <input type="submit" value="Login">
  </form>
  
    </form>
  </body>
</html>